.dropdown {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    display: flex;
    padding: 8px;
    border-radius: 4px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: transparent;
    border: 1px solid;
}
