.page-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 16px;
    border: 1px solid transparent;
    background-color: #0008;
}

.page-preview-title {
    display: flex;
    position: relative;
    max-width: calc(100% + 16px);
    width: fit-content;
    height: fit-content;
    margin: 0px;
    border: 0px;
    padding: 0px;
    margin-left: -16px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    background: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.preview-size-S .page-preview-title {
    font-size: 12px;
}

.preview-size-L .page-preview-title {
    font-size: 20px;
}

.page-preview-title-text {
    color: white;
    cursor: pointer;
    font-style: italic;
    margin: 0;
    padding-left: 16px;
    z-index: 1;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-preview-subtitle {
    color: white;
    font-family: "Chakra Petch", sans-serif;
    text-align: left;
}

.preview-size-S .page-preview-subtitle {
    font-size: 10px;
}

.preview-size-L .page-preview-subtitle {
    font-size: 14px;
}

.page-preview-title .page-preview-title-flourish {
    z-index: 1;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
    margin-top: -3px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
}

.page-preview-title-bg,
.page-preview-bg {
    z-index: 0;
    display: flex;
    position: absolute;
    width: 0%;
    height: 100%;
    transition: 0.2s;
    top: 0;
    left: 0;
}

.page-preview-title-bg {
    width: 0%;
    height: 100%;
}

.page-preview-bg {
    width: 100%;
    height: 0%;
}

.page-preview:focus .page-preview-title-bg,
.page-preview:hover .page-preview-title-bg {
    width: 100%;
    transition: 0.2s;
}

.page-preview:focus .page-preview-bg,
.page-preview:hover .page-preview-bg {
    height: 100%;
    transition: 0.2s;
}

.page-preview:focus .page-preview-title-text,
.page-preview:focus .page-preview-title-flourish,
.page-preview:hover .page-preview-title-text,
.page-preview:hover .page-preview-title-flourish {
    color: black;
    transition: 0.2s;
}

.page-preview-content {
    margin-top: 8px;
    position: relative;
    display: flex;
    gap: 16px;
    z-index: 1;
}

@media (width <= 900px) {
    .page-preview-title {
        font-size: 16px;
    }
}
