.page-tag-list {
    display: flex;
    margin: 16px;
    gap: 16px;
    font-family: "Chakra Petch", sans-serif;
    align-items: center;
}

.page-tag-title {
    font-weight: bold;
}

.page-tag {
    background-color: #1b1b1b;
    padding: 8px;
    border-radius: 4px;
    border: 0px;
    color: #ddd;
    font-size: 14px;
    cursor: pointer;
}
