.content-filter-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-filter-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    padding: 16px;
    gap: 8px;
    align-items: center;
}

.content-filter-size-S .content-filter-overlay {
    padding: 8px;
    gap: 4px;
}

.content-filter-text {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
}

.content-filter-size-S .content-filter-text {
    font-size: 14px;
}

.content-filter-children {
    overflow: clip;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content-filter-children * {
    --blur-size: 25px;
    filter: blur(var(--blur-size));
    -webkit-filter: blur(var(--blur-size));
    -moz-filter: blur(var(--blur-size));
    -o-filter: blur(var(--blur-size));
    -ms-filter: blur(var(--blur-size));
    margin: -10px -20px -20px -10px;
}
