.content-filter-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-filter-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    padding: 16px;
    gap: 8px;
    align-items: center;
}

.content-filter-size-S .content-filter-overlay {
    padding: 8px;
    gap: 4px;
}

.content-filter-text {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: 16px;
}

.content-filter-size-S .content-filter-text {
    font-size: 14px;
}

.content-filter-children {
    filter: blur(16px);
    -webkit-filter: blur(16px);
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
}
