.page-thumbnail-wrapper {
    aspect-ratio: 1/1;
    display: flex;
    width: 100%;
}

.page-thumbnail-wrapper img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    image-rendering: optimizeSpeed;
}
