.markdown-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.markdown-page h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    margin: 8px;
}

.markdown-page hr {
    width: 100%;
}

.markdown-page p {
    margin: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
}

.markdown-page a {
    text-decoration: underline;
    cursor: pointer;
}

.markdown-page .md-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    image-rendering: optimizeQuality;
}

.markdown-page br {
    margin: 8px;
}

.markdown-page center {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.page-footer {
    border-top: 2px solid #222;
    background-color: #111;
    margin: 16px -16px -16px -16px;
    padding: 0 16px 16px 16px;
}
