.links {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 16px;
    gap: 16px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -16px;
}

.link {
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: transparent;
    border: none;
    font-family: "Chakra Petch", sans-serif;
    gap: 16px;
    font-size: 20px;
    font-weight: 700;
}

.link-text {
    z-index: 2;
    padding: 4px;
}

.link:not(.selected) .link-text {
    cursor: pointer;
}

.link:hover:not(.selected) .link-background,
.link:focus-visible:not(.selected) .link-background {
    transition: 0.2s;
    bottom: 0;
}

.link:hover:not(.selected) .link-text,
.link:focus-visible:not(.selected) .link-text {
    transition: 0.2s;
    color: black;
}

.link-background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
}

.link:not(.selected) .link-background {
    transition: 0.2s;
    bottom: -100%;
}

.link.selected {
    color: black;
}

.content-settings-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
}
