.character-preview {
    display: flex;
    width: calc(33% - 8px);
}

.character-thumbnail {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.character-thumbnail-wrapper {
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
}

@media (width <= 700px) {
    .character-preview {
        width: calc(50% - 8px);
    }
}

@media (width <= 450px) {
    .character-preview {
        width: 100%;
    }
}
