.page-grid {
    display: grid;
    padding: 8px;
    gap: 16px;
}

.page-grid.size-S {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.page-grid.size-L {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
