.page {
    width: calc(100% - 48px);
    height: fit-content;
    min-height: calc(100% - 48px);
    position: absolute;
    display: flex;
    align-items: center;
    margin: 24px;
    gap: 24px;
    flex-direction: column;
}

.page-contents {
    display: flex;
    flex-direction: column;
}

.loading-placeholder {
    position: relative;
    width: 100%;
    height: 300px;
}
